.task {
  height: 100%;
  padding: 0 18px 18px;
  box-sizing: border-box;

  .custom__header {
    height: 70px;
    position: relative;

    .setting {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      width: 20px;
      height: 20px;
    }

    .score {
      height: 70px;
      padding: 0 55px;

      .flex(row, center, center);

      font-size: 22px;
      font-weight: bold;
      color: #fff;
      font-family: Manrope;

      &-icon {
        width: 30px;
        height: 30px;
        margin-right: 8px;
      }
    }

    .history {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      font-size: 15px;
      font-weight: 500;
      color: #fff;
      font-family: Poppins;
      text-decoration: underline;
    }
  }

  .daily__table {
    height: 134px;
    margin-bottom: 16px;
    padding-top: 10px;
    box-sizing: border-box;
    background: url('../../assets/imgs/me/daily_bg.png') no-repeat center center;
    background-size: 100% 100%;

    &-title {
      line-height: 22px;
      padding-left: 15px;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 14px;
      color: #FFFFFF;
    }

    &-list {
      width: 100%;
      padding: 0 74px 0 15px;
      box-sizing: border-box;
      position: relative;
      overflow-x: auto;

      display: flex;
    }

    &-sublist {
      padding-top: 10px;
      flex: 1;
      overflow-x: scroll;
      border-radius: 5px;

      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      &::-webkit-scrollbar {
        height: 0;
      }
    }

    &-target {
      position: absolute;
      top: 0;
      right: 0;
      width: 74px;
      padding-top: 10px;
      border-radius: 0 15px 15px 0;
      border-left: 1px solid #2B2D36;

      display: flex;
      justify-content: center;
    }
  }

  .tab {
    margin-bottom: 15px;
    position: relative;
    left: -3px;

    .flex(row, flex-start, center);
    column-gap: 10px;

    &-item {
      width: 70px;
      height: 32px;
      padding-bottom: 11px;
      box-sizing: border-box;

      position: relative;

      font-size: 14px;
      font-weight: 500;
      font-family: Poppins;
      line-height: 21px;
      letter-spacing: 2px;
      color: #fff;
      text-align: center;

      &.active::before {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 55px;
        height: 3px;
        background: linear-gradient(90deg, #FA497C 0%, #690DF8 40%, #269AFA 66%, #14CEF8 86%, #64d7e7 100%);
      }
    }
  }

  .task__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .more-task {
      padding: 5px 0;
      position: relative;

      color: #8E8E8E;
      font-size: 14px;

      &::before, &::after {
        content: " ";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 1px;
        background-color: #8E8E8E;
      }

      &::before {
        right: calc(100% + 10px);
      }

      &::after {
        left: calc(100% + 10px)
      }
    }
  }

  .setting-list {
    padding: 20px;

    .setting {
      width: 100%;
      margin-bottom: 10px;
      padding: 15px 10px;
      border-radius: 10px;
      border: 1px solid #2B2D36;
      box-sizing: border-box;
      cursor: pointer;

      position: relative;

      font-size: 16px;

      .btn-mix();

      .next-icon {
        width: 16px;
        height: 16px;

        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .logout {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 18px;
    padding-bottom: calc(constant(safe-area-inset-bottom) + 18px); /* 兼容 iOS < 11.2 */
    padding-bottom: calc(env(safe-area-inset-bottom) + 18px); /* 兼容 iOS >= 11.2 */
    border-radius: 24px 24px 0 0;
    background: #18181b;

    &-btn {
      height: 51px;
      background: #1F1E45;
      border: 1px solid #6764E7;
      border-radius: 12px;

      .flex(row, center, center);
      .btn-mix();

      font-size: 18px;
      font-weight: 500;
      font-family: Poppins;
      color: #fff;
    }
  }
}
