.market-page {
  height: 100%;
  padding: 10px;
  box-sizing: border-box;

  .flex(column);
  row-gap: 20px;


  .order-list {
    flex: 1;
    overflow-y: auto;

    .order-list-wrapper {
      .flex(column);
      row-gap: 10px;
    }
  }
}